PORT=4000
JWT_SECRET=replace-with-a-secure-secret
MONGO_URI=mongodb://dadiumeshchowdary_db_user:Umesh%40123@ac-bnnpdkf-shard-00-00.hugrmk8.mongodb.net:27017,ac-bnnpdkf-shard-00-01.hugrmk8.mongodb.net:27017,ac-bnnpdkf-shard-00-02.hugrmk8.mongodb.net:27017/?ssl=true&replicaSet=atlas-hjzncj-shard-0&authSource=admin&appName=Cluster0
